/* styles.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #8b0000;
  padding: 10px;
  text-align: center;
}

header .logo img {
  width: 350px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.banner {
  position: relative;
  text-align: center;
}

.banner img {
  width: 65%;
  height: auto;
}

.download-buttons {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.download-buttons a img {
  width: 300px;
  margin: 0 10px;
}

.info-box {
  display: inline-block;
  width: 15%;
  margin: 15px;
  padding: 12px;
  border-radius: 5px;
  text-align: center;
}

.info-box img {
  width: 65%;
  height: auto;
  margin: 45px;
}

footer {
  background-color: #8b0000;
  color: white;
  padding: 20px 0;
  text-align: left;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-logo img {
  width: 450px;
}

.footer-logo p {
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.6;
}

.footer-column {
  width: 20%;
  margin: 20px 0;
}

.footer-column h3 {
  margin-bottom: 10px;
  font-size: 16px;
  border-bottom: 1px solid #fff;
  padding-bottom: 5px;
}

.footer-column ul {
  list-style-type: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 10px;
}

.footer-column ul li a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.footer-bottom {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  margin-top: 20px;
}

.box {
  margin: 0px auto;
  width: 65%;
  border: 13px;
  padding: 0px;
}

h1 {
  text-align: center;
  color: red;
  font-size: 45px;
}

/* p {
  text-align: center;
} */

.info-box h3 {
  color: #ffea00;
}

h3 {
  text-align: center;
}

.textbien {
  /* text-align: center; */
  border: 10px;
  padding: 250px;
  bottom: 30px;
  margin-top: auto;
}

.cho {
  text-align: center;
}
.textbien h2 {
  color: red;
  text-align: center;
}

.code200 {
  text-align: center;
}
.cho img {
  width: 300px;
  height: 300px;
}

.imgbiendo {
  text-align: center;
}
